@for( player of game.players; track player; let i = $index){
<app-player [ngStyle]="{'top.px': 100 + (i * 90)}" [name]="player" 

[playerActive]="i == game.currentPlayer" class="playerPosition"></app-player>

}

<div class="field">
  <div class="card-stack">
    <!-- all cards backcover-->
    @for (card of [1,2,3,4,5]; track i; let i = $index){
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      src="./../../assets/img/cards/card_cover.png"
    />
    }
    <img
      (click)="drawCard()"
      class="top-card"
      style="right: 25px"
      src="./../../assets/img/cards/card_cover.png"
    />
    <!-- stack for played cards-->
    @for (card of this.game.playedCard; track card){
        <img class="played-card" src="./../../assets/img/cards/{{ card }}.png" />
    }
    <!-- animation card goes to the played cards stack-->
    @if(pickCardAnimation){
    <img
      (click)="drawCard()"
      [class.pick-Card]=""
      class="pick-Card"
      style="right: 25px"
      src="./../../assets/img/cards/{{ this.currentCard }}.png"
    />
    }
  </div>
</div>


<button matFab (click)="openDialog()" class="btn-add">
        <mat-icon>add</mat-icon>
      </button>

